/**/.classpath
/**/.idea/
/**/.project
/**/.settings/
/**/bin/
/**/target/
/**/*.iml
/**/*.ipr
/**/*.iws
/**/*.log
/**/*.log.*
/**/*.sh
/**/.vertx/*
/**/.DS_Store
/*.sh
/**/build/
/**/schema/
/**/node_modules/
/**/.gradle


